.calculator-result {
  width: 600px;
  margin: 0 auto 50px;
  padding: 50px 40px;
  background-color: #f8f8bd;
  border-radius: 20px;
}

.calculator-result h2 {
  text-align: center;
  margin: 0 auto 35px;
}

.calculator-result__list {
  color: #2a2014;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.calculator-result__item {
  margin-bottom: 30px;
  flex-grow: 1;
  text-align: center;
}

.calculator-result__item:first-child {
  width: 100%;
}

.calculator-result__item:nth-last-child(2),
.calculator-result__item:last-child {
  margin-bottom: 0;
}

.calculator-result__item p {
  text-align: left;
  width: max-content;
  padding-left: 25px;
  margin: 0 0 10px 0;
  font-weight: bold;
  position: relative;
}

.calculator-result__item:first-child p {
  text-align: center;
  margin: 0 auto 10px auto;
}

.calculator-result__item p::before {
  content: '\2713';
  position: absolute;
  color: #63803a;
  font-size: 24px;
  top: -5px;
  left: 2px;
}

.calorie-value {
  font-weight: bold;
  color: #63803a;
}

.calorie-units {
  opacity: 0.5;
}