.calculator-result {
  width: 600px;
  margin: 0 auto 50px;
  padding: 50px 40px;
  background-color: #f8f8bd;
  border-radius: 20px;
}

.calculator-result h2 {
  text-align: center;
  margin: 0 auto 35px;
}

.calculator-result__list {
  color: #2a2014;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.calculator-result__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
}

.calculator-result__item:first-child {
  grid-column: 1/3;
}

.calculator-result__item:nth-last-child(2),
.calculator-result__item:last-child {
  margin-bottom: 0;
}

.calculator-result__item p {
  padding-left: 25px;
  margin: 0 auto 10px auto;
  font-weight: bold;
  position: relative;
}

.calculator-result__item p::before {
  content: '\2713';
  position: absolute;
  color: #63803a;
  font-size: 24px;
  top: -5px;
  left: 2px;
}

.calorie-value {
  font-weight: bold;
  color: #63803a;
}

.calorie-units {
  opacity: 0.5;
  font-size: 12px;
}