.home .section-subtitle {
  font-size: 26px;
  line-height: 28px;
  color: #932916;
}

.section-content-text {
  margin: 0 auto 30px;
  padding: 5px;
  width: 90%;
  text-align: center;
}

.section-content-text:last-child {
  color: #63803a;
  font-weight: bold;
}

.section-content-text a {
  text-decoration: none;
  color: #63803a;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
}

.section-content-text a[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -15px;
  left: 28px;
  width: 150px;
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #932916c7;
}

.section-content-text a:hover {
  color: #9cc465;
}

.section-content-text a:active{
  color: rgba(99, 128, 58, 0.6);
}