.calculator-form {
  width: 600px;
  margin: 0 auto 50px;
  padding: 50px;
  background-color: #f8f8bd;
  border-radius: 20px;
}

.parameter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 30px;
}

.parameter__item {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.parameter__item h2 {
  margin-right: 5px;
}

.parameter__item span {
  color: #2a2014;
  align-self: flex-end;
  margin-bottom: 20px;
  opacity: 0.5;
}

.parameter__item input {
  background-color: #f7f7de;;
  border-radius: 5px;
  border: 1px solid #90ae64;
  padding: 10px;
  min-height: 2em;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.parameter__item input:hover {
  border: 1px solid #63803a;
}

.parameter__item input:focus {
  outline: none;
  box-shadow: 0px 0px 5px #90ae64;
  border: 1px solid #90ae64;
}

.parameter__item input::placeholder {
  font-size: 20px;
  color: #2a2014;
  opacity: 0.5;
  text-align: center;
}

.parameter__item input:focus::placeholder {
  opacity: 0;
}

.calculator-button {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #2a2014;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold; 
  padding: 15px 20px;
}

.button-submit {
  background-color: #f8f8bd;
  border: 2px solid #90ae64;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 2px rgba(42, 32, 20, 0.2); 
}

.button-submit:active {
  box-shadow: 0px 3px 5px 2px rgba(42, 32, 20, 0.2) inset;
}

.button-reset {
  position: relative;
  border: none;
  background-color: transparent;
  padding-left: 30px;
  padding-right: 10px;
}

.button-reset::before,
.button-reset::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 17px;
  border-radius: 3px;
  top: 21px;
  left: 14px;
  background-color: #2a2014;
}

.button-reset::before {
  transform: rotate(45deg);
}

.button-reset::after {
  transform: rotate(-45deg);
}

.button-reset:disabled {
  color: #888076;
}

.button-reset:disabled::before,
.button-reset:disabled::after {
  background-color: #888076;
}
