.activity-list__item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.activity-list__item label {
  font-weight: bold;
  position: relative;
}

.activity-list__item label:hover {
  color: #90ae64;
}

.activity-list__item label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -21px;
  width: 14px;
  height: 14px;
  border: 2px solid #90ae64;
  border-radius: 50%;
}

.activity-list__item input:checked + label::before {
  background-color: #63803a;
}

.activity-list__item input:checked + label {
  color: #63803a;
}

.activity-list__item p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  opacity: 0.6;
}