.water-goal-result__subtitle {
  padding: 10px 5px;
  margin: 0 0 15px;
  color: #63803a;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.water-goal-result__text {
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

.water-goal-result__text::after {
  content: '';
  position: absolute;
  background-image: url('../../../../images/arrow-down.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(150deg);
  width: 50px;
  height: 50px;
  top: 22px;
  right: 12px;
}

.water-goal-result__text .value {
  color: #63803a;
  font-size: 20px;
  padding-left: 3px;
}

.water-goal-result__text span:last-child {
  font-weight: normal;
  color: #2a2014;
  font-size: 16px;
  padding: 0;
}

.water-goal-result__description {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.water-goal-result__description-item {
  padding: 10px;
  padding-left: 60px;
  position: relative;
}

.water-goal-result__description-item::before {
  content: '';
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.water-goal-result__description-item:first-child::before {
  background-image: url('../../../../images/buttle.svg');
  left: 0;
}

.water-goal-result__description-item:last-child::before {
  background-image: url('../../../../images/glass.svg');
  left: 5px;
}

.water-goal-result__description-item span {
  display: block;
  text-align: center;
}

.water-goal-result__description-item  .value {
  color: #63803a;
  font-size: 20px;
  font-weight: bold;
}

.water-goal-result__description-item .unit {
  color: #63803a;
  opacity: 0.5;
  font-size: 12px;
}
