.parameter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 30px;
}

.parameter__item {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.parameter__item h2 {
  margin-right: 5px;
}

.parameter__item span {
  color: #2a2014;
  align-self: flex-end;
  margin-bottom: 20px;
  opacity: 0.5;
}

.calculator-button {
  display: flex;
}

.button {
  color: #2a2014;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold; 
  padding: 15px 20px;
  transition: 0.3s;
}

.button-submit {
  background-color: #f7f5a3;
  border: 2px solid #90ae64;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 2px rgba(42, 32, 20, 0.2); 
}

.button-submit:active {
  box-shadow: 0px 3px 5px 2px rgba(42, 32, 20, 0.2) inset;
}

.button-submit:hover {
  background-color: #fcfaae;
}

.calculate-btn {
  flex-grow: 1;
  margin-right: 25px;
}

.button-clear {
  position: relative;
  border: none;
  background-color: transparent;
  padding-left: 30px;
  padding-right: 10px;
}

.button-clear::before,
.button-clear::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 17px;
  border-radius: 3px;
  top: 21px;
  left: 14px;
  background-color: #2a2014;
  transition: 0.3s;
}

.button-clear::before {
  transform: rotate(45deg);
}

.button-clear::after {
  transform: rotate(-45deg);
}

.button-clear:disabled {
  color: #888076;
}

.button-clear:disabled::before,
.button-clear:disabled::after {
  background-color: #888076;
}

.button-clear:hover{
  color: #63803a;
}

.button-clear:hover::before,
.button-clear:hover::after {
  background-color: #63803a;
}

.button-clear:active {
  color: #42321e;
}

.button-clear:active::before,
.button-clear:active::after {
  background-color: #1b140a;
}